* {
  background-color: lightgray;
}
body {
    font-family: 'FranklinGothic Medium', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid lightgray;
  }
  
  .hour {
    background-color: #lightgray;
    color: #000000;
    border-top: 1px dashed navy;
  }
  
  .past {
    background-color: #A186A6;
    color: white;
  }
  
  .present {
    background-color: #D2CCEF;
    color: white;
  }
  
  .future {
    background-color: #8b6a9e;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #65697F;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }